<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/6073fef2cb.js"></script>
</head>
<body>
	<div class="container-fluid text-center nav-bg" th:fragment="footer"
		style="align-content: center; position: absolute;">

		<p>LearnOnline</p>
		<p>Copyright © 2023 LearnOnline, Inc.</p>
		<div>
			<a class="text-dark fw-bolder px-2" th:href="@{/message}">Privacy Policy</a> <a
				class="text-dark fw-bolder px-2" th:href="@{/message}">Security</a>
		</div>



	</div>
</body>
</html>