<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="~{base::layout(~{::div})}">
<head>
<meta charset="ISO-8859-1">
<title>LearnOnline - login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/allCss.css}">
</head>
<body>
	<div class="container p-3">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="card">
					<div class="card-body p-4">
						<h4 class="text-center p-1">
							<marquee class="text-info fs-2">This Feature Comming
								soon...</marquee>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>