<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/6073fef2cb.js"></script>
</head>
<body>
	<div th:fragment="navbar2" id="nav">
		<!-- First navbar -->
		<nav class="navbar navbar-expand-lg nav-bg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> <span class="symbol"> <img
						th:src="@{/images/symbol.svg}" alt="Logo" width="36" height="27"
						class="d-inline-block align-text-top"></span> <span class="fw-bold">LearnOnline</span>
				</a>
				<div>
					<ul class="navbar-nav me-auto nav-ul">
						<li class="nav-item "><a
							class="nav-link active" aria-current="page"
							th:href="@{/login}">Login</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/register}">Sign up</a></li>
					</ul>
				</div>
			</div>
		</nav>


		<!-- Second navbar -->
		<nav class="navbar border-bottom mx-5 my-2 bg-transparant">

			<div class="collapse navbar-collapse d-flex justify-content-between"
				id="navbarSupportedContent">
				<div class="d-flex">
					<ul class="navbar-nav mb-2 mb-lg-0  me-5">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/}">Home</a></li>
					</ul>

					<form class="d-flex " role="search" th:href="@{/message}"
						method="post">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-primary" type="submit">Search</button>
					</form>
				</div>
				<div class="d-flex">
					<a th:href="@{/message}" class="btn btn-light me-2" type="submit">
						<i class="fas fa-duotone fa-gear"></i> Setting
					</a> <a th:href="@{/message}" class="btn btn-light me-2" type="submit">
						<i class="fas fa-duotone fa-phone"></i> Contact Us
					</a>

				</div>
			</div>
		</nav>
	</div>
	<script type="text/javascript" th:src="@{/css/bootstrap.min.js}"></script>
</body>

</html>